<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>-VerdeGris-</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
         <div class="imagenes">
            <div class="img-escuela img-sae">
                <img src="http://mexico.sae.edu/sae-portal/wordpress/wp-content/themes/sae/img/logo-sae-header.png" />
            </div>
            <div class="img-escuela img-erlang">
                <img src="https://rollbar.com/assets/homepage/images/errorpages/erlang_logo.svg" />
            </div>
            <div class="img-escuela img-elixir">
                <img src="http://elixir-lang.org/images/logo/logo.png" />
            </div>
        </div>
          <!--<ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
        </ul>-->
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
