<div id="pageSection" class="jumbotron" pageid="canvas_p">
    <h4>Proyecto de titulación</h4>
  <h2><%= gettext "%{name}", name: "Geomaro" %></h2>
</div>

<div id="canvasContainer">
</div>

<div id="interfaz">
</div>

<!--<div id="cantidad">
	<p id="normal">10000<span id="score">/0</span></p>
</div>-->

<div id="puntuacion">
    <div>
        <p>Gallinas atrapadas: </p><p id="puntuacionText">0</p>
    </div>
</div>

<script>
    var tipoJugador = "cliente";
</script>
<script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
