<div id="pageSection" class="jumbotron" pageid="canvas_p">
  <h2><%= gettext "%{name}", name: "Fabricador" %></h2>
</div>

<div id="canvasClientesContainer">
</div>


<div id="canvasContainer">
</div>

<div id="interfaz">
</div>

<div id="puntuacion">
    <div>
        <p>Puntaje: </p><p id="puntuacionText">0</p>
    </div>
</div>

<!--<div id="cantidad">
	<p id="normal">10000<span id="score">/0</span></p>
</div>-->

<script>
    var tipoJugador = "fabrica";
</script>
<script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
